body {
    background-color: lightgoldenrodyellow;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;
}

.words span {
    background-color: red;
    color: yellow;
    padding: 3px;
}