#main > span, #main > input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  display: inline-block;
  margin-right: 1rem;
}

#main > input {
  width: 3.9rem;
}

table {
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 50px;
  border: 3px solid lightblue;
  text-align: center;
}

td button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

td button:hover {
  background-color: burlywood;
}

.correct {
  background-color: lightgreen;
}

.selected {
  background-color: aqua;
}

.wrong {
  background-color: lightsalmon;
}